{% extends 'Admin_Dashboard/Dashboard_Base.html' %}
{% block AdminDashboard %}
{% load static %}

<div class="wrapper">
    <div class="main">
        <main class="content">
            <div class="container-fluid p-0">
                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle">Below are the tasks of employee {{employee}} on {{maxdate}}</h1>
                </div>

              
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="row">
                            <div style="width:550px">
                                <canvas id="myChartFilter" width="400" height="400"></canvas>
                            </div>
                            
                        </div>
                        <div style="height:90px"></div>

                       
                    </div>
                </div>








            </div>
        </main>


    </div>
</div>

<script src="{% static 'js/Admin/ViewFilterTasks.js' %}"></script>


{% endblock AdminDashboard %}