<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'set-new-password' uidb64 token %}" method="POST">
        {% csrf_token %}
        {% include 'messages.html' %}
        <input type="password" name="password1" placeholder="Password" id="PasswordField1" />
        <small class="showPasswordToggle1" style="cursor:pointer">SHOW</small><br>
        <input type="password" name="password2" placeholder="Password" id="PasswordField2" />
        <small class="showPasswordToggle2" style="cursor:pointer">SHOW</small> <br>
        <input type="submit" value="Set New Password">
    </form>
    <script src="{%  static 'js/SetNewPass.js' %} "></script>
    
</body>
</html>